h2 {color:  white;
font-size: 24pt;}
h4 {color: white;
font-family: "Happy Monkey" white ;
font-weight: bolder;}
*{background-color: 184C4C ;}
img {border-style: ;
border-color: white ;
border-width: medium;
margin-top: = 250px;
margin-bottom:50px }
